* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Helvetica";
  src: url(../css/fonts/HelveticaNeue.ttc);
}
.nav-holder {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}
.nav-holder .nav-logo {
  width: 136.5px;
  height: 64px;
  margin-top: 20px;
  background-image: url(../images/logo/medhelp-logoblack.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.nav-holder .nav-links {
  min-height: 60px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.nav-holder .nav-links a {
  min-height: 60px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
}
.nav-holder .nav-links .africa {
  width: 60px;
}

@media only screen and (max-width: 1200px) {
  .nav-holder {
    display: block;
  }
  .nav-holder .nav-logo {
    margin: 50px auto;
  }
  .nav-holder .nav-links {
    margin: 50px auto;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-links {
    max-width: 800px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-links a {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-links {
    max-width: 400px;
    flex-wrap: wrap;
  }
}
.hero-container {
  height: 500px;
  background-color: #bdbbbb;
  display: flex;
  align-items: center;
}

.hero {
  width: 1800px;
  height: 400px;
  background-image: url(../images/home/doctorcollagethree.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0;
}

.home-content {
  min-height: 200px;
  margin: 0 auto;
}
.home-content h1 {
  max-width: 1000px;
  min-height: 60px;
  font-family: "Helvetica";
  font-size: 40px;
  margin: 100px auto;
  height: 100px;
}
.home-content .pro-header {
  width: 500px;
  margin-bottom: 0;
}
.home-content .text-button {
  width: 500px;
  min-height: 200px;
  margin: 0 auto;
}
.home-content .text-button p {
  width: 500px;
  min-height: 200px;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  margin: 25px auto;
}
.home-content .text-button .button-container {
  width: 360px;
  height: 180px;
  border: 5px solid;
  margin-top: 100px;
  border-radius: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #2d8f8c;
}
.home-content .text-button .button-container .button-fill {
  width: 338px;
  height: 157px;
  background-color: #2d8f8c;
  font-family: Helvetica;
  color: white;
  font-size: 30px;
  border-radius: 29px;
  display: flex;
  justify-content: center;
}
.home-content .text-button .button-container .text-container {
  width: 200px;
  margin-top: 10px;
  letter-spacing: 10px;
  line-height: 45px;
  text-align: center;
}
.home-content .text-button .button-container .two {
  width: 250px;
  height: 100px;
  margin-top: 30px;
}
.home-content .home-procedurepic {
  height: 450px;
  width: 100%;
  margin-top: 165px;
  background-image: url(../images/procedures/patienttwo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-content .home-researchpic {
  height: 450px;
  width: 100%;
  margin-top: 165px;
  background-image: url(../images/research/labtech2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-content .search-header {
  width: 500px;
}
.home-content .buttons-two {
  display: flex;
  justify-content: space-between;
}
.home-content .buttons-two .smallcon {
  width: 220px;
}
.home-content .buttons-two .smallcon .smallfill {
  width: 200px;
}
.home-content .buttons-two .smallcon .smalltext {
  font-size: 18px;
  padding-top: 20px;
}
.home-content .home-africapic {
  height: 450px;
  width: 100%;
  margin-top: 165px;
  background-image: url(../images/africa/med2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-content .africa-header {
  width: 500px;
  margin-bottom: 0;
}
.home-content .three {
  padding-top: 25px;
  width: 100px;
  height: 100px;
}

footer {
  height: 155px;
  background-color: #080607;
  opacity: 0.45;
  margin-top: 181px;
  display: flex;
  align-items: center;
}
footer .footer-container {
  width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
footer .footer-container .logo-white {
  width: 158px;
  height: 75px;
  background-image: url(../images/logo/medhelp-logowhite.png);
}
footer .footer-container .address {
  width: 200px;
  height: 71px;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
}
footer .footer-container .socials {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
footer .footer-container .socials .fbook {
  width: 50px;
  height: 50px;
  background-image: url(../images/socials/facebook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer-container .socials .twit {
  width: 50px;
  height: 50px;
  background-image: url(../images/socials/insta.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer-container .socials .insta {
  width: 50px;
  height: 50px;
  background-image: url(../images/socials/twitter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1550px) {
  .hero-container {
    max-width: 1500px;
  }
  .hero-container .hero {
    width: px;
    background-image: url(../images/home/globe.jpg);
  }
}
@media only screen and (max-width: 1100px) {
  h1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 820px) {
  p {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 600px) {
  p {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .button-container {
    margin: 0 auto;
  }
}
.procedure-content .procedure-hero {
  height: 400px;
  background-image: url(../images/procedures/patienttwo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.procedure-content .procedure-hero .text-box {
  width: 790px;
  height: 191px;
  background-color: #040404;
  opacity: 0.58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.procedure-content .procedure-hero .text-box .protext {
  font-family: Helvetica;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
}
.procedure-content h1 {
  max-width: 700px;
  font-family: "Helvetica";
  font-size: 40px;
  margin: 100px auto;
  height: 100px;
}
.procedure-content .common-issues {
  height: 400px;
  background-color: #080607;
  opacity: 0.38;
}
.procedure-content .common-issues h1 {
  font-family: Helvetica;
  font-size: 40px;
  width: 500px;
  color: white;
  margin: 50px auto;
  padding-top: 70px;
}
.procedure-content .common-issues p {
  width: 500px;
  font-family: Helvetica;
  font-size: 25px;
  color: white;
  margin: 50px auto;
  padding-top: 25px;
  line-height: 40px;
}
.procedure-content .procedure-box {
  min-height: 200px;
  border-bottom: 3px solid;
  border-color: #707070;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.procedure-content .procedure-box .procedure-info {
  min-height: 200px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.procedure-content .procedure-box .procedure-info .procedure-textbox {
  width: 500px;
  min-height: 400px;
  margin-top: 50px;
}
.procedure-content .procedure-box .procedure-info .procedure-textbox h1 {
  font-family: Helvetica;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0;
  height: 60px;
}
.procedure-content .procedure-box .procedure-info .procedure-textbox p {
  font-family: Helvetica;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 100px;
  font-size: 20px;
  letter-spacing: 2px;
}
.procedure-content .procedure-box .procedure-info .cancer {
  width: 450px;
  margin-left: 50px;
  margin-top: 0;
}
.procedure-content .procedure-box .procedure-info .button-container {
  width: 193px;
  height: 111px;
  border: 5px solid;
  border-radius: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #2d8f8c;
  margin-top: 0;
  margin-bottom: 60px;
}
.procedure-content .procedure-box .procedure-info .button-container .button-fill {
  width: 170px;
  height: 91px;
  background-color: #2d8f8c;
  font-family: Helvetica;
  color: white;
  font-size: 30px;
  border-radius: 29px;
  display: flex;
  justify-content: center;
}
.procedure-content .procedure-box .procedure-info .button-container .button-fill .text-container {
  width: 200px;
  margin-top: 7px;
  letter-spacing: 5px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  color: white;
}
.procedure-content .procedure-box .procedure-image {
  width: 508px;
  min-height: 340px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.procedure-content .procedure-box .viles {
  background-image: url(../images/procedures/testing2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.procedure-content .procedure-box .thermometer {
  width: 360px;
  height: 519px;
  margin-left: 70px;
  background-image: url(../images/procedures/thermometer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.procedure-content .procedure-box .med-tools {
  width: 312px;
  height: 468px;
  margin-right: 150px;
  background-image: url(../images/procedures/tool-collage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.procedure-content .procedure-box .research {
  width: 502px;
  height: 335px;
  background-image: url(../images/research/lab-tech.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .procedure-info {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .procedure-content .procedure-hero .text-box .protext {
    font-size: 40px;
  }
}
.research-content .research-hero {
  height: 400px;
  background-image: url(../images/research/labtech2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.research-content .research-hero .text-box {
  width: 790px;
  height: 191px;
  background-color: #040404;
  opacity: 0.58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.research-content .research-hero .searchtext {
  font-family: Helvetica;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
}
.research-content h1 {
  max-width: 700px;
  min-height: 50px;
  font-family: "Helvetica";
  font-size: 40px;
  margin-top: 30px;
  margin-left: 40px;
  height: 100px;
}
.research-content .research {
  min-height: 60px;
  max-width: 700px;
  font-family: "Helvetica";
  font-size: 40px;
  padding-top: 80px;
  height: 100px;
  margin: 0 auto;
}
.research-content .research-container {
  max-width: 955px;
  min-height: 200px;
  margin: 0 auto;
}
.research-content .research-container .research-box {
  max-width: 955px;
  min-height: 100px;
  border: 3px solid;
  border-color: #989797;
  border-radius: 31px;
  margin: 100px auto;
}
.research-content .research-container .research-info {
  max-width: 877px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}
.research-content .research-container .research-info p {
  max-width: 540px;
  min-height: 100px;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  padding-left: 50px;
  margin-bottom: 30px;
}
.research-content .research-container .research-info .button-container {
  width: 265px;
  height: 136px;
  border: 5px solid;
  border-color: #2d8f8c;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.research-content .research-container .research-info .button-container .button-fill {
  width: 241px;
  height: 112px;
  background-color: #2d8f8c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.research-content .research-container .research-info .button-container .button-fill .text-container {
  width: 150px;
  font-family: Helvetica;
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 1150px) {
  .reserch-box {
    display: block;
  }
  .reserch-box .research-info {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1030px) {
  .research-box {
    max-width: 800px;
  }
  .research-box .research-info {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1030px) {
  .research-box {
    max-width: 900px;
  }
}
@media only screen and (max-width: 950px) {
  p {
    margin: 0 auto;
    margin-left: 20px;
  }

  .button-container {
    margin: 50px auto;
  }
}
.africa-content .africa-hero {
  height: 400px;
  background-image: url(../images/africa/med2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.africa-content .africa-hero .text-box {
  width: 900px;
  height: 191px;
  background-color: #040404;
  opacity: 0.58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.africa-content .africa-hero .text-box .africa-text {
  font-family: Helvetica;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
}
.africa-content .africa-box {
  width: 1017px;
  min-height: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.africa-content .africa-box .africa-image {
  width: 490px;
  height: 742px;
  background-image: url(../images/africa/africawood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.africa-content .africa-box .africa-text {
  width: 465px;
  min-height: 200px;
}
.africa-content .africa-box .africa-text h1 {
  font-family: Helvetica;
  font-size: 40px;
}
.africa-content .africa-box .africa-text p {
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  margin-bottom: 40px;
}
.africa-content .volunteer {
  height: 400px;
  background-image: url(../images/africa/volunteertwo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.africa-content .volunteer .text-box {
  width: 900px;
  height: 191px;
  background-color: #040404;
  opacity: 0.58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.africa-content .volunteer .text-box .volunteer-text {
  width: 700px;
  height: 60px;
  font-family: Helvetica;
  font-size: 60px;
  color: white;
}
.africa-content .get-involved {
  width: 465px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 100px;
}
.africa-content .get-involved h1 {
  font-family: Helvetica;
  font-size: 40px;
}
.africa-content .get-involved p {
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
}
.africa-content .get-involved .button-container {
  width: 265px;
  height: 136px;
  border: 5px solid;
  border-color: #2d8f8c;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px auto;
}
.africa-content .get-involved .button-container .button-fill {
  width: 241px;
  height: 112px;
  background-color: #2d8f8c;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.africa-content .get-involved .button-container .button-fill .text-container {
  font-family: Helvetica;
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 950px) {
  .africa-text {
    font-size: 40px;
    padding-left: 30px;
  }

  .africa-box {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  .africa-box .africa-text h1 {
    margin-top: 50px;
  }
  .africa-box .africa-text p {
    margin-top: -30px;
  }
}
.contact-hero {
  height: 400px;
  background-image: url(../images/contact/contact2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-hero .text-box {
  width: 790px;
  height: 191px;
  background-color: #040404;
  opacity: 0.58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-hero .text-box .contact-text {
  font-family: Helvetica;
  font-size: 100px;
  color: white;
  letter-spacing: 5px;
}

.contact-content .contact-image {
  width: 940px;
  height: 625px;
  background-image: url(../images/contact/steth3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px auto;
  margin-bottom: 105px;
  display: flex;
}
.contact-content .contact-image .contact-info {
  width: 332px;
  height: 363px;
  background-color: #121616;
  opacity: 0.5;
  border-radius: 24px;
  margin-top: 32px;
  margin-left: 16px;
}
.contact-content .contact-image .contact-info .contact-number {
  font-family: Helvetica;
  font-size: 30px;
  color: white;
  margin-left: 30px;
  margin-top: 50px;
}
.contact-content .contact-image .contact-info .contact-email {
  font-family: Helvetica;
  font-size: 30px;
  color: white;
  margin-left: 30px;
  margin-top: 50px;
}