.hero-container {
	height: 500px;
	background-color: #bdbbbb;
	display: flex;
	align-items: center;
}

.hero {
	width: 1765px;
	height: 400px;
	background-image: url(../images/home/doctorcollagethree.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 0;
}

// ======HOME-CONTENT======//
.home-content {
	// width: 1000px;
	min-height: 200px;
	margin: 0 auto;
	h1 {
		width: 1000px;
		font-family: "Helvetica";
		font-size: 40px;
		margin: 100px auto;
		height: 100px;
	}

	.pro-header {
		width: 500px;
		margin-bottom: 0;
	}

	.text-button {
		width: 500px;
		min-height: 200px;
		margin: 0 auto;

		p {
			width: 500px;
			min-height: 200px;
			font-family: Helvetica;
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 35px;
			// margin-top: 25px;
			margin: 25px auto;
		}

		// ======BUTTON STYLES==//
		.button-container {
			width: 360px;
			height: 180px;
			border: 5px solid;
			margin-top: 100px;
			border-radius: 39px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-color: #2d8f8c;

			.button-fill {
				width: 338px;
				height: 157px;
				background-color: #2d8f8c;
				font-family: Helvetica;
				color: white;
				font-size: 30px;
				border-radius: 29px;
				display: flex;
				justify-content: center;
			}
			.text-container {
				width: 200px;
				margin-top: 10px;
				letter-spacing: 10px;
				line-height: 45px;
				text-align: center;
			}
			.two {
				width: 250px;
				height: 100px;
				margin-top: 30px;
			}
		}
	}

	.home-procedurepic {
		height: 450px;
		width: 100%;
		margin-top: 165px;
		background-image: url(../images/procedures/patienttwo.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.home-researchpic {
		height: 450px;
		width: 100%;
		margin-top: 165px;
		background-image: url(../images/research/labtech2.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.search-header {
		width: 500px;
	}

	.buttons-two {
		// height: 50px;
		display: flex;
		justify-content: space-between;

		.smallcon {
			width: 220px;

			.smallfill {
				width: 200px;
			}
			.smalltext {
				font-size: 18px;
				padding-top: 20px;
			}
		}
	}
	.home-africapic {
		height: 450px;
		width: 100%;
		margin-top: 165px;
		background-image: url(../images/africa/med2.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.africa-header {
		width: 500px;
		margin-bottom: 0;
	}

	.three {
		padding-top: 25px;
		width: 100px;
		height: 100px;
	}
}

footer {
	height: 155px;
	background-color: #080607;
	opacity: .45;
	margin-top: 181px;
	display: flex;
	align-items: center;

	.footer-container {
		width: 1600px;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;

		.logo-white {
			width: 158px;
			height: 75px;
			background-image: url(../images/logo/medhelp-logowhite.png);
		}

		.address {
			width: 200px;
			height: 71px;
			font-family: Helvetica;
			font-size: 20px;
			color: white;
		}

		.socials {
			width: 230px;
			height: 50px;
			display: flex;
			justify-content: space-between;

			.fbook {
				width: 50px;
				height: 50px;
				background-image: url(../images/socials/facebook.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.twit {
				width: 50px;
				height: 50px;
				background-image: url(../images/socials/insta.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.insta {
				width: 50px;
				height: 50px;
				background-image: url(../images/socials/twitter.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}
